body {
     background-color: #d8e5f1;
}
.bodi {
     background: url(../images/bg1.png) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
.form-style input[type="text"],
.form-style input[type="password"],
.form-style input[type="email"],
.form-style select {
     border: 0;

     border-radius: 0;
     border-bottom: 1px solid #ebebeb;
     width: auto;
}
.form-style input:focus {
     border-bottom: 1px solid #337ab7;
     box-shadow: none;
     outline: 0;
     background-color: #ebebeb;
}
.sideline {
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #ccc;
}
button {
     height: 35px;
     outline: none !important;
}
input[type="submit"] {
     height: 35px;
     outline: none !important;
}
#regbtn {
     height: 50px !important;
     outline: none !important;
}
.form-group {
     margin-bottom: 0.5rem !important;
}
.pb-3,
.py-3 {
     padding-bottom: 0.7rem !important;
}
.sideline:before,
.sideline:after {
     content: "";
     border-top: 1px solid #ebebeb;
     margin: 0 20px 0 0;
     flex: 1 0 20px;
}

.sideline:after {
     margin: 0 0 0 20px;
}
.bg1 {
     background: #1276b6;
     text-align: center;
}
.bg1 > img {
     position: relative;
     top: calc(50% - 10px);
     vertical-align: middle;
}
.logindiv {
     border-radius: 10px !important;
}
.logindivleft {
     border-top-left-radius: 18px !important;
     border-bottom-left-radius: 18px !important;
}
.logindivright {
     border-top-right-radius: 18px !important;
     border-bottom-right-radius: 18px !important;
}
.cls-1 {
     fill: #1877f2;
}

.cls-2 {
     fill: #fff;
}
.cls-3 {
     fill: red;
}
.navbar {
     background-color: #337ab7 !important;
}
#signupForm label.error {
     margin-left: 30px;
     width: auto;
     display: inline;
     color: red;
     font-size: 10pt;
}
#signinForm label.error {
     margin-left: 30px;
     width: auto;
     display: inline;
     color: red;
     font-size: 10pt;
}
.sserrors {
     color: red;
     font-size: small;
}
.svg1 {
     fill: red !important;
}
.svg2 {
     fill: green !important;
}

.avatar-upload {
     position: relative;
     max-width: 205px;
     margin: 50px auto;
}
.avatar-upload .avatar-edit {
     position: absolute;
     right: 12px;
     z-index: 1;
     top: 10px;
}
.avatar-upload .avatar-edit input {
     display: none;
}
.avatar-upload .avatar-edit input + label {
     display: inline-block;
     width: 34px;
     height: 34px;
     margin-bottom: 0;
     border-radius: 100%;
     background: #ffffff;
     border: 1px solid transparent;
     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
     cursor: pointer;
     font-weight: normal;
     transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
     background: #f1f1f1;
     border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
     content: "\f040";
     font-family: "FontAwesome";
     color: #757575;
     position: absolute;
     top: 10px;
     left: 0;
     right: 0;
     text-align: center;
     margin: auto;
}
.avatar-upload .avatar-preview {
     width: 192px;
     height: 192px;
     position: relative;
     border-radius: 100%;
     border: 6px solid #f8f8f8;
     box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
     width: 100%;
     height: 100%;
     border-radius: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
.colr1 {
     color: #337ab7;
     font-weight: 600;
}
.txtcolr {
     color: #337ab7;
     font-weight: 900;
     font-size: 10pt;
}

.modal-dialog {
     background-color: #daeef7;
}
.mrsp {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 10px;
}
.bgsky {
     background-color: #daeef7;
}
.cformhead {
     background-color: #daeef7;
     display: flex;
     margin-top: 30px;
     padding-top: 5px;
     justify-content: space-around;
     align-items: center;
     color: #337ab7;
}
.rowcenter {
     justify-content: center !important;
}

.percon {
     color: #337ab7;
     font-weight: 900;
     font-size: 10pt;
}
.hr {
     margin-left: 0px;
     border: 1px solid navy;
     width: 100%;
     text-align: left;
}
.bgwhites {
     background-color: white !important;
}
.bgblues {
     background-color: transparent !important;
}
.addfileds {
     border: 0;
     border-radius: 1px;
     border-bottom: 1px solid rgb(192, 190, 190);
     border-top: 1px solid rgb(236, 230, 230);
     border-left: 1px solid rgb(236, 232, 232);
     border-right: 1px solid rgb(246, 242, 242);
}
.addfiledsel {
     border: 0;
     border-radius: 1px;
     border-bottom: 1px solid rgb(192, 190, 190);
     border-top: 1px solid rgb(236, 230, 230);
     border-left: 1px solid rgb(236, 232, 232);
     border-right: 1px solid rgb(246, 242, 242);
     width: 100%;
     height: 38px;
}

.createcls {
     position: relative;
     z-index: 100000000 !important;
}
.modal-content {
     border: none !important;
}
#addcontactform label.error {
     width: auto;
     display: inline;
     color: red;
     font-size: 10pt;
}
table {
     border-spacing: 40px;
}
.txtcolrview {
     color: #337ab7;
     font-weight: 900;
     font-size: 10pt;
     width: 30%;
}
#tview tr {
     height: 50px;
}
#tview td {
     width: 33% !important;
}
.ht {
     height: 100% !important;
}
.clrblk {
     color: black !important;
}
.mytable td {
     vertical-align: middle !important;
     text-align: center;
}
.mytable tbody {
     width: 100% !important;
     display: table !important;
}
.myalert {
     margin-bottom: 0rem !important;
}
.mycardbody {
     padding: 0.25rem !important;
}
