body {
     background-color: #d8e5f1;
}
.form-style input[type="text"],
.form-style input[type="password"],
.form-style input[type="email"] {
     border: 0;

     border-radius: 0;
     border-bottom: 1px solid #ebebeb;
     width: auto;
}
.form-style input:focus {
     border-bottom: 1px solid #337ab7;
     box-shadow: none;
     outline: 0;
     background-color: #ebebeb;
}
.sideline {
     display: flex;
     width: 100%;
     justify-content: center;
     align-items: center;
     text-align: center;
     color: #ccc;
}
button {
     height: 50px;
     outline: none !important;
}
#regbtn {
     height: 50px !important;
     outline: none !important;
}
.form-group {
     margin-bottom: 0.5rem !important;
}
.pb-3,
.py-3 {
     padding-bottom: 0.7rem !important;
}
.sideline:before,
.sideline:after {
     content: "";
     border-top: 1px solid #ebebeb;
     margin: 0 20px 0 0;
     flex: 1 0 20px;
}

.sideline:after {
     margin: 0 0 0 20px;
}
.bg1 {
     background: #1276b6;
     text-align: center;
}
.bg1 > img {
     position: relative;
     top: calc(50% - 10px);
     vertical-align: middle;
}
.logindiv {
     border-radius: 10px !important;
}
.logindivleft {
     border-top-left-radius: 18px !important;
     border-bottom-left-radius: 18px !important;
}
.logindivright {
     border-top-right-radius: 18px !important;
     border-bottom-right-radius: 18px !important;
}
.cls-1 {
     fill: #1877f2;
}

.cls-2 {
     fill: #fff;
}
.cls-3 {
     fill: red;
}
.navbar {
     background-color: #337ab7 !important;
}
#signupForm label.error {
     margin-left: 30px;
     width: auto;
     display: inline;
     color: red;
     font-size: 10pt;
}
#signinForm label.error {
     margin-left: 30px;
     width: auto;
     display: inline;
     color: red;
     font-size: 10pt;
}
.sserrors {
     color: red;
     font-size: small;
}
.svg1 {
     fill: red !important;
}
.svg2 {
     fill: green !important;
}
